header{

    height:100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}
.cta {
    margin-top: 2.5 rem;
    display: flex;
    gap: 1.2 rem;
    justify-content: center;
}
.me {
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 31rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 15rem 15rem 0 0;
    overflow: hidden;
    padding: 0.0rem 1.9rem 1rem 1.9rem;

}

.scroll__down {
    position: absolute;
    right: 9rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
.text-light{
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 1024px){
    .header {
      height:68vh;

    }
  
  }

@media screen and (max-width: 600px){
    .header {
      height:100vh;

    }

    .header_social,.scroll__down{
        display: none;
    }
  
  }